.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
}

.header-sort-bar {
    list-style: none;
    padding-left: 0;
    margin: 0;
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    background-color: #fff;
    height: var(--header-sort-bar-height);
    display: none;
    z-index: 1;
}

.header-sort_item {
    flex: 1;
    position: relative;
}

.header-sort_item::after {
    content: "";
    position: absolute;
    height: 60%;
    top: 50%;
    left: 0;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header-sort_item:first-child::after {
    display: none;
}

.header-sort_link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}

.header-sort_item--active .header-sort_link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navbar__list-item {
    color: var(--white-color);
    margin: 0 8px;
    position: relative;
    font-size: 1.6rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 40px;
}

.navbar__list-item:first-child:hover .header__notification {
    display: block;
}

.navbar__list-item:hover .qr-code {
    display: block;
}

.navbar__list-item--bold {
    font-weight: 500;
}

.navbar__list-item--separation::after {
    content: "";
    display: block;
    height: 14px;
    border: 1px solid #FB9086;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -9px;
}

.navbar__list-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    text-decoration: none;
    margin: 0 4px;
}

.navbar__list-icon:nth-child(2) {
    margin-left: 8px;
}

.navbar__list-item-link {
    text-decoration: none;
    color: var(--white-color);
}

.navbar__list-icon:hover,
.navbar__list-item-link:hover,
.navbar__list-item-auth:hover,
.navbar__list-item.navbar__list-user:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__list-user:hover .navbar__list-user-menu {
    display: block;
}

.navbar__list-user-avatar {
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 6px;
}

.navbar__list-user-menu {
    position: absolute;
    width: 160px;
    top: 100%;
    right: 0;
    background-color: white;
    z-index: 1;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: none;
    animation: fadeIn linear .2s;
}

.navbar__list-user-menu::before {
    content: "";
    display: block;
    border-width: 15px 17px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -22px;
    right: 24%;
}

.navbar__list-user-menu a {
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.navbar__list-user-menu a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__list-user-menu a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__list-user-item:hover a {
    background-color: #fafafa;
}

.navbar__list-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.no-link:hover {
    cursor: text;
    color: var(--white-color);
}

.qr-code {
    position: absolute;
    width: 186px;
    top: 94%;
    left: 0;
    padding: 7px;
    background-color: var(--white-color);
    border-radius: 2px;
    animation: fadeIn linear .3s;
    will-change: opacity;
    display: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.qr-code__img {
    width: 100%;
}

.qr-code__link {
    display: flex;
    justify-content: space-between;
}

.qr-code__img-link img {
    height: 16px;
}

.qr-code__img-link:first-child {
    margin-left: 11px;
}

.qr-code__img-link:last-child {
    margin-right: 10px;
}

.header__notification {
    width: 404px;
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 94%;
    right: 0;
    color: #000;
    transform-origin: calc(100% - 30px) top;
    animation: Growth ease-in .2s;
    will-change: opacity, transform;
    z-index: 2;
    display: none;
    border-radius: 2px;
}

.header__notification::before {
    content: "";
    display: block;
    border-width: 20px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -29px;
    right: 19px;
}

@keyframes Growth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notification-title {
    margin: 0 8px;
    color: #ccc;
    font-weight: 400;
    font-size: 1.4rem;
    display: block;
    height: 32px;
    line-height: 3.2rem;
}

.header__notification-list {
    list-style: none;
    padding: 0;
}

.header__notification-item {
    display: flex;
    padding: 8px 0;
}

.header__notification-item:hover {
    background-color: aqua;
}

.header__notification-item--viewed {
    background-color: #f3bcb7;
}

.header__notification-info {
    flex: 1;
    font-size: 1.4rem;
}

.header__notification-img {
    width: 10%;
    object-fit: contain;
    margin: 0 8px;
}

.header__notification-name {
    margin: 0 0 8px 0;
}

.header__notification-describe {
    margin: 0;
    color: rgb(124, 124, 124);
}

.header__notification-footer-btn {
    display: block;
    width: 100%;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.auth-form {
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    padding: 8px;
    width: 100%;
    outline: none;
    margin-top: 16px;
    border: 1px solid rgb(195, 195, 195);
    font-size: 1.4rem;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    text-align: center;
    line-height: 20px;
}

.auth-form__policy-text a {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__btn {
    display: flex;
    justify-content: flex-end;
    margin: 106px 0 24px;
}

.auth-form__btn-back {
    margin-right: 8px;
}

.auth-form__socials {
    padding: 12px 36px;
    background-color: rgb(238, 237, 237);
    display: flex;
    justify-content: space-between;
}

.btn.btn--with-icon {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 8px;
}

.auth-form__socials-title {
    margin: 0 30px
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.btn.auth-form__socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.btn.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__help {
    margin: 20px 0 -20px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.auth-form__help--separate {
    display: block;
    border-left: 1px solid #eaeaea;
    height: 24px;
    margin: -4px 16px 0;
}

.header-with-search {
    height: var(--header-with-seach-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    height: 50px;
    width: 162px;
}

.header__seach {
    flex: 1;
    height: 40px;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
    position: relative;
    border-radius: 2px;
}

.header__seach-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header-search-mobie {
    display: none;
}

.header-search-mobie__icon {
    font-size: 2.2rem;
    padding: 0 16px;
    color: #fff;
}

#a1b1:checked~.header__seach {
    display: flex;
}

.header__seach-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
}

.header__cart {
    width: 150px;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.header__seach-select {
    border-left: 1px solid #ccc;
    padding: 0 16px;
    height: 28px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__seach-select::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
}

.header__seach-select>i {
    margin-left: 8px;
    color: rgb(112, 111, 111);
}

.header__seach-select span {
    font-size: 1.2rem;
}

.header__seach-btn {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    width: 60px;
    height: 34px;
    color: var(--white-color);
    margin-right: 3px;
    border-radius: 2px;
    cursor: pointer;
}

.header__seach-btn:hover {
    background-color: #fb6445;
}

.header__seach-option {
    position: absolute;
    top: calc(95% - 1px);
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    list-style: none;
    width: 124px;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear .2s;
    z-index: 2;
}

.header__seach-select:hover .header__seach-option {
    display: block;
}

.header__seach-option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
}

.header__seach-option-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__seach-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__seach-option-item:hover {
    background-color: #ccc;
}

.header__seach-option-item>i {
    color: var(--primary-color);
    display: none;
}

.header__seach-option-item.header__seach-option-item--active i {
    display: inline-block;
}

.header__seach-option-item>span {
    font-size: 1.2rem;
}

.header__seach-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 20px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(226, 226, 226);
    overflow: hidden;
    display: none;
    z-index: 2;
}

.header__seach-history-heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(192, 192, 192);
    margin: 8px;
}

.header__seach-history-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__seach-history-item:hover {
    background-color: #ccc;
}

.header__seach-history-item a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 8px;
    display: block;
}

.header__seach-input:focus~.header__seach-history {
    display: block;
}

.header__cart-list {
    position: absolute;
    width: 400px;
    top: calc(100% + 12px);
    right: 50px;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transform-origin: calc(100% - 30px) top;
    --grow-from: 0.5;
    --grow-to: 1;
    animation: scaleForm linear .2s;
    cursor: default;
    display: none;
    z-index: 2;
}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
    top: -24px;
    right: 2px;
    border-width: 15px 21px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-list {
    padding: 16px 0;
}

.header__cart-no-list-msg {
    color: var(--text-color);
    display: none;
    font-size: 1.4rem;
}

.header__cart-wrap {
    display: inline-block;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    padding: 0 16px;
    color: white;
}

.header__cart-no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-list--no-list .header__cart-no-cart-img,
.header__cart-list--no-list .header__cart-no-list-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-list--no-list .header__cart-list-item,
.header__cart-list--no-list .header__cart-item-btn {
    display: none;
}

.header__cart-notice {
    position: absolute;
    top: -9px;
    right: 54px;
    background-color: white;
    color: var(--primary-color);
    padding: 1px 4px;
    border-radius: 50%;
    border: 2px solid #F6412E;
    font-size: 1.2rem;
    line-height: 12px;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 60vh;
    overflow-y: auto;
}

.header__cart-heading {
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: left;
    margin: 12px 12px;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 66px;
}

.header__cart-item:hover {
    background-color: #ccc;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    text-align: left;
    display: block;
    margin-right: 12px;
}

.header__cart-item-info {
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__cart-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8rem;
    max-height: 4rem;
    text-align: left;
    flex: 1;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
}

.header__cart-item-mutiply {
    color: #999;
    font-size: 1rem;
}

.header__cart-item-qty {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-species {
    font-size: 1.4rem;
    text-align: left;
    color: #999;
}

.header__cart-item-remove {
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-item-btn {
    float: right;
    margin: 12px 12px 12px 0;
}

.btn-primary.header__cart-item-btn:hover {
    background-color: #fb6445;
}

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 12px;
}

.category {
    background-color: var(--white-color);
}

.category__heading {
    font-size: 1.6rem;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
}

.category__heading i {
    margin-right: 8px;
}

.category-list {
    list-style: none;
    padding: 0 20px 8px;
    margin: 0;
}

.category-item {
    position: relative;
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 12px 0;
}

.category-item::before {
    content: "";
    display: block;
    border-top: 1px solid #e1e1e1;
}

.category-item:first-child::before {
    display: none;
}

.category-item__link:hover {
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.home-filter {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 16px;
    border-radius: 2px;
}

.category-mobie__list {
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.category-mobie__list::-webkit-scrollbar {
    display: none;
}

.category-mobie {
    margin: 8px;
    display: none;
}

.category-mobie__item {
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

.category-mobie__item:nth-child(3n+1) {
    background-color: #87afd8;
}

.category-mobie__item:nth-child(3n+2) {
    background-color: #76c9bd;
}

.category-mobie__item:nth-child(3n+3) {
    background-color: #88cf81;
}

.category-mobie__link {
    --line-height: 2rem;
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    line-height: var(--line-height);
    width: 110px;
    height: calc(var(--line-height) * 2);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}

.home-filter__label {
    font-size: 1.5rem;
    color: #555;
    margin-right: 16px;
}

.btn.home-filter__btn {
    min-width: 100px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
    background-color: white;
    overflow: hidden;
    border-radius: 2px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EBEBEB;
}

.home-filter__page-icon {
    color: #555;
    margin: auto;
    font-size: 1.2rem;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-products {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: white;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear .1s;
    will-change: transform;
    padding-bottom: 8px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    margin: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text-color);
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__liked {
    font-size: 1rem;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    margin-left: auto;
    font-size: 0.6rem;
    color: #d5d5d5;
}

.home-product-item__sold {
    margin-left: 4px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin {
    display: flex;
    margin: 0 10px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__brand {
    margin-right: auto;
}

.home-product-item__rating-color {
    color: var(--star-gold-color);
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    padding-right: 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    color: white;
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
}

.home-product-item__favourite span {
    color: white;
    line-height: 1.6rem;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.92);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.92);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    font-size: 1.3rem;
    color: #EE4d2d;
    font-weight: 600;
    line-height: 2.5rem;
}

.home-product-item__sale-off-label {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: -5px;
    display: block;
}

.home__pagination {
    margin: 48px 0 32px;
    padding-left: 0;
}

.app__footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 20px;
}

.footer__heading {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.footer-list {
    padding-left: 0;
    list-style: none;
    margin: 12px 0;
}

.footer-item__link {
    text-decoration: none;
    color: #666;
    padding: 6px 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer__download {
    display: flex;
    margin-top: 18px;
    align-items: center;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid #ccc;
}

.footer__download-app {
    flex: 1;
    margin-left: 16px;
}

.footer__download-app-img {
    height: 16px;
}

.app-footer__license {
    padding: 12px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}

.app-footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}